
<div class="row">
    <div class="col-xs-12">
        <button 
            class="btn btn-success" 
            [routerLink]="['new']">New Recipe</button>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-xs 12">
        <app-recipe-item 
            *ngFor="let recipeEl of recipes, let i = index" 

            [recipe]="recipeEl"
            [index]="i">    
        </app-recipe-item>
    </div>
</div>

            <!-- [routerLink]="[i]" -->  
        <!-- The above works without needed to create/bind index prop in recipe-item
            but you won't see the (projected) url when the cursor is over the linked item -->